/* ERROR */

error {
	padding: 1px 3px 3px 54px;
	background: 3px 3px url('images/error48.png') no-repeat;
	border: 2px solid red;
}

/* MSG */

msg {
	padding: 1px 3px 3px 54px;
	background: 3px 3px url('images/info48.png') no-repeat;
	border: 2px solid blue;
}

.small {
	font-size: 8pt;
}

/* Tables */
/* OLD style
tr.head td {
	background-color: #888;
	color: white;
	vertical-align: bottom;
}

tr.odd td {
	background-color: #ddf;
}

tr.even td {
	background-color: #cce;
}

.abbr {
	border-bottom: 1px dotted white;
}
*/
